
header a{
    font-family: 'Roboto';
    font-size: 42px;
}

text{
    fill: #E0E1E6;
    font-family: 'Roboto';
}

h1, h2{
    font-family: 'Roboto';
    margin: 2rem 0;
}
#histogram{
    height: 500px;
    width: 600px;
}

#bar_chart{
    height: 750px;
    width: 600px;
}

#line_diagram{
    height: 300px;
    width: 1250px;
}

#pie_charts1, #pie_charts2, #pie_charts3{
    width: 150px;
    height: 150px;
}

#main{
    background-color: #16113A;
    height: 100%;
    padding-top: 1rem;
}

#filter-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    background-color: #272953;
    border-radius: 20px;
    font-family: 'Roboto';
    color: #E0E1E6;
    padding: 0.5rem;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}

.filter:hover{
    box-shadow: 0 0 10px rgba(255, 65, 54, 0.8), 0 0 20px rgba(255, 65, 54, 0.6), 0 0 30px rgba(255, 65, 54, 0.4);
}

.remove-filters:hover , .apply-filters:hover{
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
}

.remove-filters{
    margin-left: auto;
    border: none;
    border-radius: 20px;
    background-color: #dc3545;
    color: #E0E1E6;
    padding: 0.5rem;
    transition: box-shadow 0.3s ease-in-out;
}

.apply-filters{
    margin-left: auto;
    border: none;
    border-radius: 20px;
    background-color: #4E8CF6;
    color: #E0E1E6;
    padding: 0.5rem;
    transition: box-shadow 0.3s ease-in-out;
}

.svg-container{
    background-clip: content-box;
    background-color: #272953;
    border-radius: 20px;
    text-align: center;
}

.row{
    margin-bottom: 1rem;
}

.Apply-white{
    color: #E0E1E6;
    font-family: 'Roboto';
}

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px 'Roboto';
    background: #46476E;
    color: #E0E1E6;
    border: 0;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}