
header a{
    font-family: 'Roboto';
    font-size: 42px;
}

text{
    fill: #E0E1E6;
    font-family: 'Roboto';
}

h1, h2{
    font-family: 'Roboto';
    margin: 2rem 0;
}
#histogram, #bar_chart, #line_diagram{
    width: 100%;
}

#bar_chart{
    height: 750px;
}

#line_diagram{
    height: 300px;
}

#pie_charts1, #pie_charts2, #pie_charts3{
    width: 150px;
    height: 150px;
}

#main{
    background-color: #16113A;
    height: 100%;
    padding-top: 1rem;
}

.svg-container{
    background-clip: content-box;
    background-color: #272953;
    width: 100%;
    border-radius: 20px;
}

.row{
    margin-bottom: 1rem;
}

.Apply-white{
    color: #E0E1E6;
    font-family: 'Roboto';
}

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px 'Roboto';
    background: #46476E;
    color: #E0E1E6;
    border: 0;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}